@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Dosis&family=Roboto&display=swap');

body{
    background: linear-gradient(90deg, rgba(193,181,218,1) 0%, rgba(148,187,233,1) 100%);


.header{
    font-family: 'Dosis', sans-serif;
    color:#514c57;
    text-align: center;
}

p{
    font-family: 'Dosis', sans-serif;
    color:#514c57; 
}
   
}
.todoWrapper{
    background: #FFFFFF;
    width: 60%;
    border-radius: 5px;
    margin-top: 5rem;
    padding: 2rem;
}

.todoForm{
    width: 100%;
}

.todoInput{
    outline: none;
    background: none;
    font-family: 'Dosis', sans-serif;
    border: 2px solid #c1b5da;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 300px;
    color: #949395;
}

.todoButton{
    background: #c1b5da;
    color: #514c57;
    font-family: 'Dosis', sans-serif;
    border: 1px solid #c1b5da;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.55rem;
    cursor: pointer;
}

.toDo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c1b5da;
    color: #393342;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  

  .icon{
    opacity: 0%;
  }
  .icon:hover{
    opacity: 100%;
  }
  