
body{
    background: #c1b5da;
   
}
.todoWrapper{
    background: #FFFFFF;
    width: 60%;
    border-radius: 5px;
    margin-top: 5rem;
    padding: 2rem;
}

.todoForm{
    width: 100%;
}

.todoInput{
    outline: none;
    background: none;
    border: 1px solid #c1b5da;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 300px;
    color: #393342;
}

.todoButton{
    background: #c1b5da;
    color: #ffffff;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
}

.toDo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c1b5da;
    color: #393342;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  
  .fa-trash-can {
    margin-left: 0.75rem;
  }